.hero--section {
  height: 90vh;
  gap: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

/* image section */
.image-container {
  align-self: center;
}
.image-container img {
  height: 85vh;
  margin-left: -5rem;
}
.line-text-container {
  max-width: 42rem;
}
.col--1 {
  align-self: center;
  padding: 0 3rem;
}
.col--1 {
  grid-column: 1 / 4;
  grid-row: 1/2;
  z-index: 10;
}
.col--2 {
  grid-column: 4 /-1;
  grid-row: 1/2;
}
.col--1 svg {
  height: 10vh;
}
.line-container {
  line-height: 1;
  margin-bottom: 5rem;
}

.main-line {
  font-family: var(--font-headline);
  text-transform: uppercase;
  letter-spacing: -4px;
  font-size: 10vh;
  font-weight: 700;
}
.top-line {
  font-family: var(--family-font);
  font-size: 2.6rem;
  font-weight: 600;
  letter-spacing: -1.2px;
  margin-left: 0;
  color: var(--accent-color);
}
.top-line-and {
  font-size: 3rem;
  font-weight: 700;
  margin-left: 0.5rem;
}
/* .line-text-container {
  max-width: 90%;
} */
.line-text {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.line-text--1 {
  font-weight: 600;
}
.line-text--2 {
  font-weight: 300;
  margin-bottom: 3rem;
}
.btn-cta {
  background-color: var(--black-opacity);
  color: var(--white);
  width: 75%;
}
.btn-cta:hover {
  background-color: var(--accent-color);
  border: 1.5px solid var(--accent-color);
  color: var(--black);
}
.developer-box {
  position: relative;
}

@media screen and (max-width: 975px) {
  .main-line {
    font-size: 9vh;
  }
  .col--1 svg {
    height: 9vh;
  }
  .col--1 {
    grid-column: 1 / 5;
  }
}
@media screen and (max-width: 750px) {
  .col--1 {
    grid-column: 1 / 5;
    grid-row: 1/2;
  }
  .line-text-container {
    max-width: 40rem;
  }

  .image-container img {
    margin-left: 0;
  }
  .main-line {
    font-size: 8vh;
  }
  .col--1 svg {
    height: 8vh;
  }
}
@media screen and (max-width: 570px) {
  .main-line {
    font-size: 7.5vh;
  }

  .col--1 {
    grid-column: 1 / -1;
    grid-row: 1/2;
    padding-right: 0;
    margin-bottom: -6rem;
  }
  .line-container {
    margin-bottom: 1.5rem;
    width: 100%;
  }

  .btn-cta {
    width: 70%;
  }
  .line-text-container {
    background-color: #ffffff9b;
    border-radius: 0.8rem;
    padding: 2rem 2rem 4rem 1rem;
  }
  .image-container img {
    margin-left: -5.5rem;
  }
}
@media screen and (max-width: 450px) {
  .line-text-container {
    max-width: 100%;
    border-radius: 0;
  }

  .col--1 svg {
    height: 8.5vh;
  }
  .image-container img {
    margin-left: -5rem;
  }
  .top-line {
    font-size: 2.2rem;
  }
  .top-line-and {
    font-size: 2rem;
    margin-left: 0.3rem;
  }
  .main-line {
    font-size: 6.3vh;
    letter-spacing: -2.5px;
  }

  .line-text {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
  .line-text--1 {
    font-weight: 600;
  }
  .line-text--2 {
    font-weight: 300;
    margin-bottom: 2rem;
  }
  .btn-cta {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 375px) {
  .main-line {
    font-size: 6.5vh;
    letter-spacing: -2.5px;
  }
  .line-text {
    font-size: 1.6rem;
  }
  .line-text-container {
    margin-right: 0;
  }
}
