.projects-section {
  background-color: var(--light-grey);
}
.projects-headline {
  position: relative;
}
.projects-headline::before {
  content: "";
  background-image: url("/public/assets/icons/cloud-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  transform: translate(-65%, 10%);
  height: 1.8em;
  width: 1.8em;
  animation: skills-floating 5s ease-in 1s infinite;
}
.projects-headline::after {
  content: "";
  position: absolute;
  top: -130%;
  margin-left: 1rem;

  background-image: url("/public/assets/icons/foudre.svg");
  background-repeat: no-repeat;
  display: inline-block;
  height: 2.5em;
  width: 2.5em;
}
.projects-wrap {
  padding: 2rem 0 2rem 3rem;
}
.project-detail {
  display: flex;
  flex-direction: column;
}
.project-views {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.project-container {
  border-radius: 2.5rem;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.133);
}
.project-container img {
  border-radius: 0 0 1.5rem 1.5rem;
}
.project-desktop-container {
  padding: 4rem 0.8rem 0.8rem 0.8rem;
  width: 80%;
  z-index: 2;
}

.project-desktop-container img {
  width: 100%;
}
.project-phone-container {
  position: absolute;
  right: 3rem;
  padding: 3rem 0.5rem 0.5rem 0.5rem;
  width: 23%;
}
.project-phone-container img {
  width: 100%;
}

.project-text {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 93%;
  margin-top: -3rem;
  margin-bottom: 10rem;
  border-radius: 0 2rem;
  padding: 8rem 2rem 4rem;
}
.project-text div {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.project-text p {
  padding-left: 3rem;
  margin-bottom: 1rem;
}
.project-text p b {
  margin-right: 0.5rem;
}
.project-favicon {
  height: 2.5rem;
  margin-bottom: 2rem;
  padding: 0 0.5rem 0 2rem;
}

@media screen and (max-width: 650px) {
  .projects-headline::after {
    top: -100%;
    margin-left: 0;
    height: 2em;
    width: 2em;
  }
  .projects-wrap {
    padding: 1rem 0 1rem 1rem;
  }
  .project-desktop-container {
    z-index: 1;
  }
  .project-phone-container {
    z-index: 3;
  }
  .project-desktop-container {
    padding-top: 3rem;
  }
  .project-phone-container {
    padding-top: 2rem;
  }
  .project-text {
    padding-left: 0.5rem;
    margin-bottom: 5rem;
  }
  .arrow-right {
    padding-left: 1.5rem;
  }
}
