.contact-headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-bottom: 5rem;
  margin-left: 5rem;
}
.contact-headline-1,
.contact-headline-2 {
  margin-bottom: -0.8rem;
  font-size: 3.8rem;
  letter-spacing: -2px;
}
.contact-headline-2 {
  margin-left: 3rem;
  position: relative;
}

.contact-headline-1:after {
  content: "";
  background-image: url("/public/assets/icons/pt-suspension.svg");
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  transform: translate(0, -80%);
  height: 1.8em;
  width: 1.8em;
}

.contact-headline-2:before {
  content: "";
  background-image: url("/public/assets/icons/cloud-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  left: 0;
  transform: translate(-65%, 10%);
  height: 1.8em;
  width: 1.8em;
  animation: skills-floating 5s ease-in 1s infinite;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding: 2.5rem;
}
.contact-form input,
.contact-form textarea {
  padding: 1rem 1.3rem;
  font-size: 1.8rem;
  line-height: 1.6;
  background-color: var(--white);
  border: 1.5px solid var(--light-grey);
}
.contact-form textarea {
  margin-bottom: 3rem;
}
.contact-form input:hover,
.contact-form textarea:hover {
  background-color: #fff;
  border: 1.5px solid black;
}
input[type="text"]:focus {
  border: 1.5px solid black;
}
input::placeholder,
textarea::placeholder {
  color: #22222247;
  letter-spacing: 1px;
  font-size: 1.6rem;
}
input[name="user_email"] {
  text-transform: lowercase;
}
.form-group {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  gap: 1rem;
}

.form-btn {
  align-self: center;
  width: 50%;
  background-color: var(--black);
  color: #fff;
}
.form-btn:hover {
  background-color: #fff;
  color: var(--black);
}
.searchfield {
  width: 40rem;
  background-color: var(--light-grey);
  border-radius: 3pt;
  border: none;
}
@media screen and (max-width: 750px) {
  .contact-form {
    align-items: center;
  }

  .form-group {
    width: 100%;
  }
  .searchfield {
    width: 100%;
  }
  .contact-headline {
    align-items: center;
    margin-left: 0;
  }
  .contact-headline-2 {
    margin-left: 2rem;
  }
}
@media screen and (max-width: 570px) {
  .form-group {
    padding: 0 1rem;
  }
  .contact-form {
    gap: 1.5rem;
  }

  .contact-headline {
    margin-bottom: 1rem;
  }
  .contact-headline-1,
  .contact-headline-2 {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 400px) {
  .contact-headline-1,
  .contact-headline-2 {
    font-size: 2.5rem;
  }

  .form-group {
    padding: 0 0.5rem;
  }
}
@media screen and (max-width: 350px) {
  .contact-headline-1,
  .contact-headline-2 {
    font-size: 2.2rem;
  }
}
