.header {
  position: sticky;
  margin: 0;

  top: 0;

  width: 100vw;

  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  background-color: var(--black-opacity);
  z-index: 11;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  padding: 0 3rem;
}

.navbar-logos {
  display: flex;
  align-items: center;
}
.logo-icon {
  height: 4rem;
  width: 4rem;
  margin-right: 3rem;
}
.logo-name-white {
  height: 3rem;
  opacity: 0.9;
}
.nav-list {
  display: flex;
  list-style: none;
  gap: 1rem;
}
.nav-items a {
  white-space: nowrap;
  height: 100%;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.063em;
  font-weight: 300;
  letter-spacing: -0.1px;
  text-decoration: none;
  color: var(--nav-links);
  opacity: 0.7;
  text-align: center;
  border-style: solid;
  border-width: 0px 0px 0.05px 0px;
  border-color: transparent;

  padding: 0.3rem 1.55rem;
  border: 1px solid transparent;
  border-radius: 50rem;
  transition: all 100ms;
}

.nav-items a:hover {
  opacity: 1;
  border: 1px solid #ffffff79;
  /* box-shadow: 0.3rem 0 var(--yellow); */
}
.nav-items a.active {
  border: 1px solid #fff;
  /* box-shadow: 0.3rem 0 var(--yellow); */
  opacity: 1;
}
.menu-btn {
  display: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

/* mobile menu navbar */

@media screen and (max-width: 975px) {
  .menu-btn {
    display: block;
    width: 4.5rem;

    z-index: 99;
  }
  .logo-icon {
    display: none;
  }

  .navbar {
    padding: 0 4rem;
  }

  .nav-menu {
    position: fixed;
    display: none;
    box-shadow: -1px 0 2rem rgba(15, 15, 15, 0.2);
    background-color: var(--light-grey);

    transition: 350ms;
    bottom: 0;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 10rem 1rem;
  }
  .nav-items a {
    display: inline-block;
    width: 100%;
    text-align: start;
    font-weight: 400;
    padding: 0.3rem 2.5rem;

    font-size: 2.6rem;
    letter-spacing: -0.5px;
    border: 1.5px solid var(--black);
  }

  .nav-menu.active {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    transition: all 350ms ease-in-out;
  }

  .nav-items a {
    color: black;
  }
  .nav-items a.active {
    border: 1px solid var(--black);
    background-color: var(--black);
    color: var(--light-grey);
  }
}
@media screen and (max-width: 570px) {
  .menu-btn {
    width: 4rem;
  }
  .logo-name-white {
    margin-bottom: 1rem;
  }
  .navbar {
    padding: 0 2.5rem;
  }
}
@media screen and (max-width: 400px) {
  .logo-name-white {
    height: 2.8rem;
  }
}
