/* color schema */
:root {
  --family-font: "Montserrat", sans-serif;
  --nav-links: #fff;
  --nav-links-active: #ffe53b;
  --nav-links-hover: #ffe53b54;

  --white: #fff;
  --yellow: #ffe53b;
  --black: #1c1d1d;

  --text-color: #121212;
  --text--bg: rgba(0, 0, 0, 0.65);
  --light-grey: #e8e8e8;
  --background-grey: #f5f7f8;
  --light-bg: #f1f1f1;
  --image-darker: rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}
.bodytext {
  white-space: pre-line;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
/* general */
.grid {
  display: grid;
}
.grid--col-2 {
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.grid--col-3 {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.section {
  padding: 20rem 0 18rem 0;
  width: 100%;
}
.headline-title {
  display: flex;
  justify-content: center;
}
.primary-headline {
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
  letter-spacing: -1px;
  margin-bottom: 10rem;
}

.btn {
  border: none;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0.8rem 1.8rem;
  border-radius: 50rem;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: inherit;
  color: black;
}

@media screen and (max-width: 975px) {
  .section {
    padding: 8rem 0;
  }
  .grid--col-3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid--col-2 {
    grid-template-columns: 1fr;
  }
  .primary-headline {
    margin-bottom: 8rem;
  }
}
@media screen and (max-width: 650px) {
  .grid--col-3 {
    grid-template-columns: 1fr;
  }

  .primary-headline {
    font-size: 3rem;
    margin-bottom: 5rem;
  }
  .btn {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 380px) {
  .primary-headline {
    font-size: 2.5rem;
  }
  .btn {
    padding: 0.7rem 1rem;
  }
}
