/* font */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400..900;1,400..900&display=swap");

/* color schema */
:root {
  --family-font: "Montserrat", sans-serif;
  --nav-links: #fff;
  --nav-links-active: #ffe53b;
  --nav-links-hover: #ffe53b;

  --white: #fff;
  --yellow: #ffe53b;

  --line-color: #b3a597;
  --text-color: #525252;
  --text--bg: rgba(0, 0, 0, 0.65);
  --light-grey: rgb(168, 166, 163);
  --light-bg: #f1f1f1;
  --image-darker: rgba(0, 0, 0, 0.5);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
}
*:focus {
  /* outline: 1px solid black; */
  outline: none;
}
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  font-family: var(--family-font);

  font-weight: 400;

  line-height: 1;
  color: black;

  display: block;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
.bodytext {
  white-space: pre-line;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
/* general */
.grid {
  display: grid;
}

.primary-headline {
  text-transform: uppercase;
  font-weight: 00;
  text-align: center;
  font-size: 3.5rem;
  letter-spacing: -1px;
  margin-bottom: 10rem;
}
